@using Kendo.Mvc.UI;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/admin-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://kendo.cdn.telerik.com/themes/6.2.0/bootstrap/bootstrap-main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2023.1.425/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.425/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    <kendo-drawer name="drawer" mode="push" width="220" position="left" template-id="drawerTemplate" navigatable="true" auto-collapse="false">
        <mini enabled="false" />
        <content>
            <div>
                <main role="main" class="k-content">
                    <kendo-appbar name="appbar" theme-color="AppBarThemeColor.Inherit" style="height:48px;">
                        <items>
                            <appbar-item type="AppBarItemType.ContentItem" template="<a id='menuIcon' class='k-button k-button-md k-button-rectangle k-rounded-md k-button-solid k-button-solid-base' style='border:0px; background:\\#FFFFFF;' href='\\#'><span class='k-icon k-i-menu'></span></a>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer" width="16px"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<div class='title'>Admin Dashboard</div>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<div class='app-bar-link'><span class='k-icon k-i-notification'><span data-role='badge' class='k-badge k-badge-solid k-badge-error k-badge-md k-badge-dot k-badge-outside k-top-end'></span></span></div>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer" width="8px"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<a href='@Url.Page("About")' class='k-link app-bar-link'>About</a>"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<div style='' class='app-bar-link'>Contacts</div>"></appbar-item>
                        </items>
                    </kendo-appbar>
                    <div class="row">
                        <div id="third-level-column" class="border p-3 col-2" style="display: none">
                            <span id="header-items" class="third-level-items">
                                <p><a class="m-2 p-2" href="/Header/Homepage">Home Page</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">About Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Contact Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">FAQ</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">PrivacyC</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Page X</a></p>
                                <p><a class="m-2 p-2" href="/Header/Homepage">Home Page</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">About Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Contact Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">FAQ</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">PrivacyC</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Page X</a></p>
                                <p><a class="m-2 p-2" href="/Header/Homepage">Home Page</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">About Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Contact Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">FAQ</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">PrivacyC</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Page X</a></p>
                                <p><a class="m-2 p-2" href="/Header/Homepage">Home Page</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">About Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Contact Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">FAQ</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">PrivacyC</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Page X</a></p>
                                <p><a class="m-2 p-2" href="/Header/Homepage">Home Page</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">About Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Contact Us</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">FAQ</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">PrivacyC</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Page X</a></p>
                            </span>
                            <span id="banners-items" class="third-level-items">
                                <p><a class="m-2 p-2" href="/Header/Homepage">Banner 1 </a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">Banner 2</a></p>
                                <p><a class="m-2 p-2" href="/Header/Contactus">Banner 3</a></p>
                                <p><a class="m-2 p-2" href="/Header/Faq">Banner 4</a></p>
                                <p><a class="m-2 p-2" href="/Header/Aboutus">Banner 5</a></p>
                                <p><a class="m-2 p-2" href="/Header/Page">Banner 6</a></p>
                            </span>
                        </div>
                        <div class="col-10">
                            @RenderBody()
                        </div>

                    </div>
                </main>
            </div>
        </content>
    </kendo-drawer>
    @RenderBody()

    <script id="drawerTemplate" type="text/x-kendo-template">
        <div id="drawer-container">
            <div id="drawer-content">
                <div class="row">
                    <div id="panelbar-container" class="col">
                        <div class="k-d-flex-col k-align-items-center k-justify-content-evenly" style="height:218px;">
                            <div class="k-avatar k-avatar-circle k-avatar-image k-avatar-lg" id="avatar">
                                <img src='@Url.Content("images/signin-logo.png")' />
                            </div>
                        </div>
                        <ul id="panelbar">
                            <li>
                                <a href="/"><span class="k-icon k-i-grid"></span> Dashboard</a>
                            </li>
                            <li>
                                <span class="k-icon k-i-folder"></span>
                                Content
                                <ul>
                                    <li data-target="#header-items">Header</li>
                                    <li><a href="/Footer">Footer</a></li>
                                    <li><a href="/Pages">Pages</a></li>
                                    <li data-target="#banners-items">Banners</li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Users"> <span class="k-icon k-i-user"></span> Users</a>
                            </li>
                            <li>
                                <a href="/Sync"><span class="k-icon k-i-refresh"></span> Sync</a>
                            </li>
                            <li>
                                <span class="k-icon k-i-settings"></span>
                                Settings
                                <ul>
                                    <li><a href="/Settings/Setting1"><span class="k-icon k-i-settings"></span> Setting 1</a></li>
                                    <li><a href="/Settings/Setting2"><span class="k-icon k-i-settings"></span> Setting 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="profile-container">
                <ul id="profile-panelbar">
                    <li id="profile-item">
                        <img style="height:80px;width:80px;" src='@Url.Content("images/profile-picture.png")' alt="Profile Picture"/>
                        <ul>
                            <li><a href="/Profile/Edit">Edit Profile</a></li>
                            <li>
                                <form action="/Login" method="get">
                                    <button type="submit" class="k-button k-button-md k-rounded-md k-button-solid-secondary k-selected">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script src="~/js/admin-ui.js" asp-append-version="true"></script>
</body>
</html>